@font-face {
    font-family: 'MyFont';
    font-style: normal;         
    src: url("../../assets/fonts/Rubik-VariableFont_wght.ttf");
    font-weight: 100 900;
}

@font-face {
    font-family: 'MyFont';
    font-style: normal;         
    src: url("../../assets/fonts/Rubik-VariableFont_wght.ttf");
    font-weight: 100 900;
}